<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlaylistManager.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlaylistManager.Model.Properties.Settings>
            <setting name="Folder" serializeAs="String">
                <value>D:\Bibliotheken\Muziek\Mijn muziek\</value>
            </setting>
            <setting name="IncludeSubdirs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeBetweenSongs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShuffleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatMode" serializeAs="String">
                <value>0</value>
            </setting>
        </PlaylistManager.Model.Properties.Settings>
    </userSettings>
</configuration>